# JetBrains IDE
.idea/
*.iml

# Python cache
__pycache__/
*.pyc
*.py[cod]

# Coverage reports
.coverage
htmlcov/

# Environments
.env
.venv/poetry.lock

[tool.pytest.ini_options]
pythonpath = ["src"]
testpaths = ["tests"]
addopts = "--cov=src --cov-report=term"


data/vacancies.json
data/test_vacancies.json
.pytest_cache/